*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header{
  padding: 30px 20px;
  background-color: #ff33dd;
  display: flex;
  justify-content: flex-end;
}

.five-squares{
  height: 70px;
  margin: 0 10px;
  flex-basis: 140px;
  background-color: #ffb3dd;
}

header>:first-child{
  margin-right: auto;
}

main{
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
}

.left-square{
  background-color: #99ffaa;
  width: 300px;
}

.right-square{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #33aa44;
  max-width: 700px;
  flex-grow: 1;
  padding: 20px
}

.nine-squares{
  background-color: #ddee55;
  margin: 10px;
  flex-basis: 200px;
  height: 130px;
}

footer{
  background-color: #3388ff;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

.three-squares{
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  margin: 10px;
  background-color: #99f0ff;
}
